body {
    font-family: "Open Sans", "Raleway", Arial, sans-serif;
    color: #808080;
  }
  
  .container {
    width: 94%;
    margin: 0 auto;
  }

  .conteudoPrincipal {
    margin-top: 30px;
    margin-bottom: 20px;
    min-height: 80vh;
  }
  
  .subtitulo {
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .conteudoPrincipal-dados-titulo {
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .conteudoPrincipal-dados-titulo:after {
    bottom: -10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 70px;
  }
  
  .titulo-azul:after {
    background: none repeat scroll 0 0 #83bedf;
  }
  
  .titulo-verde:after {
    background: none repeat scroll 0 0 #81df99;
  }
  
  .titulo-roxo:after {
    background: none repeat scroll 0 0 #9981df;
  }
  
  .titulo-vermelho:after {
    background: none repeat scroll 0 0 #df8181;
  }
  
  .conteudoPrincipal-icone-azul {
    color: #83bedf;
    margin-left: 20px;
  }
  
  .conteudoPrincipal-icone-verde {
    color: #81df99;
    margin-left: 20px;
  }
  
  .conteudoPrincipal-icone-roxo {
    color: #9981df;
    margin-left: 20px;
  }
  
  .conteudoPrincipal-icone-vermelho {
    color: #df8181;
    margin-left: 20px;
  }
  
  .conteudoPrincipal-icone-span {
    font-size: 32px;
    margin-left: 20px;
  }
  
  .subtitulo:after {
    background: none repeat scroll 0 0 #808080;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 100px;
    text-align: center;
    margin: 0 auto;
  }
  
  .conteudoPrincipal-dados-link {
    height: 170px;
    background-color: #fff;
    text-align: left;
    margin: 1%;
    transition: 0.3s;
    box-shadow: 2px 2px 2px #ccc;
    position: relative;
  }
  
  .conteudoPrincipal-dados-link.eventos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 230px;
  }
  
  .conteudoPrincipal-dados-link.eventos h2 {
    color: #6f47ff;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  
  .conteudoPrincipal-dados-link.eventos p {
    width: 80%;
    font-weight: lighter;
    line-height: 20px;
    margin-bottom: 20px;
  }
  
  .conteudoPrincipal-dados-link.eventos button {
    color: #6f47ff;
    font-weight: normal;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    font: inherit;
    line-height: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 4px;
  }
  
  /* Conteúdo principal evento */
  
  #conteudoPrincipal-eventos-titulo {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 300;
  }
  
  #conteudoPrincipal-eventos-titulo::after {
    background: #6f47ff;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    margin-top: 15px;
    width: 10%;
    transform: translateX(-50%);
    left: 50%;
  }
  